parameters:

    checkMissingIterableValueType: false

    # Added to silence PHPUnit\Framework\TestCase not found
    # autoload_files:
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit-8.5-0/vendor/autoload.php
   
    paths:
        - src
        - tests
        